
.color {
    display: inline;
    grid-template-columns: auto auto auto auto;
    
    width: 100%;
    justify-items: auto;
    align-items: start;

}
.red {
    border: 1px solid black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.black {
    background-color: black;
    color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}